{% extends 'base.html.twig' %}

{% block body %}

    <body class="mt-5">
    <div class="container text-center">
        <section class="mt-5">
            <nav class="mt-5">
                <div class="nav nav-tabs justify-content-center mt-5" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-dia-tab" data-toggle="tab" href="#nav-dia" role="tab" aria-controls="nav-dia">dia</a>
                    <a class="nav-item nav-link" id="nav-semana-tab" data-toggle="tab" href="#nav-semana" role="tab" aria-controls="nav-semana">semana</a>
                    <a class="nav-item nav-link" id="nav-mes-tab" data-toggle="tab" href="#nav-mes" role="tab" aria-controls="nav-mes">mes</a>
                </div>
            </nav>
            <div class="tab-content mt-5" id="nav-tabContent">
                 <div class="tab-pane fade show active" id="nav-dia" role="tabpanel" aria-labelledby="nav-dia-tab">
                     <section class="shadow-lg jumbotron">
                         <div class="row">
                             <div class="shadow-lg bg-light col">
                                 <h2>Pedidos por &aacute;rea</h2>
                                 <br>
                                 <table class="table table-sm">
                                     <thead>
                                     <tr>
                                         <th scope="col">&Aacute;rea</th>
                                         <th scope="col">Pedidos</th>
                                         <th scope="col" class="text-right">Facturado</th>
                                     </tr>
                                     </thead>
                                     <tbody>
                                     <tr>
                                         <td>R&iacute;o</td>
                                         <td>24</td>
                                         <td class="text-right">120.05 &euro;</td>
                                     </tr>
                                     <tr>
                                         <td>Terraza</td>
                                         <td>40</td>
                                         <td class="text-right">786.00 &euro;</td>
                                     </tr>
                                     <tr>
                                         <td>Piscina</td>
                                         <td>85</td>
                                         <td class="text-right">1237.90 &euro;</td>
                                     </tr>
                                     <tr>
                                         <td>Comedor</td>
                                         <td>8</td>
                                         <td class="text-right">37.50 &euro;</td>
                                     </tr>
                                     </tbody>
                                 </table>
                             </div>
                             <div class="px-5 py-5 col">
                                 <a href="" class="my-2 btn btn-info btn-lg btn-block shadow-lg">Resumen de ventas del d&iacute;a</a>
                                 <br>
                                 <a href="" class="my-2 btn btn-success btn-lg btn-block shadow-lg">Cerrar d&iacute;a</a>
                             </div>
                         </div>
                     </section>
                 </div>
                <div class="tab-pane fade show" id="nav-semana" role="tabpanel" aria-labelledby="nav-semana-tab">
                     <div class="card mt-2 shadow-lg">
                         <div class="card-body">
                             <h5 class="card-title">semana</h5>
                             <h6 class="card-subtitle mb-2 text-muted">Estado: Vac&iacute;a</h6>
                             <a href="" class="ml-3 btn btn-primary">A&ntilde;adir pedido</a>
                         </div>
                     </div>
                 </div>
                <div class="tab-pane fade show" id="nav-mes" role="tabpanel" aria-labelledby="nav-mes-tab">
                     <div class="card mt-2 shadow-lg">
                         <div class="card-body">
                             <h5 class="card-title">mes</h5>
                             <h6 class="card-subtitle mb-2 text-muted">Estado: Vac&iacute;a</h6>
                             <a href="" class="ml-3 btn btn-primary">A&ntilde;adir pedido</a>
                         </div>
                     </div>
                 </div>

            </div>
        </section>
    </div>
    </body>

{% endblock %}